@model GetLinksFromWebsite.Models.IndexViewModel

@{
    ViewBag.Title = "Get All Links From Web";
}

<script>
    function loading() {
        document.getElementById("resultRequest").innerHTML = '<img src="/content/images/ajax-loader.gif">';
    }
</script>
<br/>
@using (Ajax.BeginForm("Index", "Home", new AjaxOptions {HttpMethod = "POST", UpdateTargetId = "resultRequest", InsertionMode = InsertionMode.Replace})) {
    @Html.LabelFor(model => model.WebsiteUrl);
    <br/>
    @Html.TextBoxFor(model => model.WebsiteUrl, new { style = "width:350px;" })
    @Html.TextBoxFor(model => Model.DepthWebsiteUrls, new {style = "width:20px;" })
    <input type="submit" value="Submit" class="btn btn-default btnMain" onclick="loading()"/>
}

<div id="resultRequest"></div>